*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Intellij project files
.idea/
.gradle/


# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties
build